[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/euler-price-oracle"]
	path = lib/euler-price-oracle
	url = https://github.com/euler-xyz/euler-price-oracle
[submodule "lib/pyth-sdk-solidity"]
	path = lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity.git
